<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804058084662-iccmhl3ol9tqb85vudqo8lipebk7i7kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804058084662-iccmhl3ol9tqb85vudqo8lipebk7i7kb</string>
	<key>API_KEY</key>
	<string>AIzaSyAeXMWptZtIG-QfSzcW4egRwltmPt1msR0</string>
	<key>GCM_SENDER_ID</key>
	<string>804058084662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamatus.Instagram</string>
	<key>PROJECT_ID</key>
	<string>istagram-d6317</string>
	<key>STORAGE_BUCKET</key>
	<string>istagram-d6317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804058084662:ios:ae9d650bc422bac8dcaf97</string>
</dict>
</plist>