<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751463551801-kdsvilukot5qtgq66l6hq17flr0igilc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751463551801-kdsvilukot5qtgq66l6hq17flr0igilc</string>
	<key>API_KEY</key>
	<string>AIzaSyAh87CwP3WbF7GnYtz7fcFhKUqynL3zKyI</string>
	<key>GCM_SENDER_ID</key>
	<string>751463551801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamatus.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-a3aef</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-a3aef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751463551801:ios:26d7f58e1258f657cccee8</string>
</dict>
</plist>